.note {
    height: 50px;
    border-bottom: 1px rgb(228, 218, 209) solid;
    background: rgb(251, 247, 237);
}

.note-active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03) inset;
    background: rgb(241, 236, 225);
}

.note-date {
    height: 20px;
    padding: 4px 0 0 20px;
    line-height: 20px;
    color: rgb(185, 166, 145);
    font-size: 12px;
}

.note-title {
    height: 20px;
    line-height: 20px;
    padding: 4px 20px;
    color: rgb(99, 87, 83);
    font-size: 14px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.note-title-editing {
    width: 200px;
    height: 20px;
    line-height: 20px;
    margin: 0 20px;
    border: 1px solid rgb(220, 214, 202);
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}