* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei Light", sans-serif;
    color: rgb(67, 67, 67);
}

#root {
    height: 100%;
}

.f-r {
    float: right;
    margin-right: 14px;
}

.f-l {
    float: left;
    margin-left: 14px;
}